replicas: 2

gateway:
  enabled: true
minio:
  enabled: false
traces:
  otlp:
    http:
      enabled: true
    grpc:
      enabled: true
distributor:
  config:
    log_received_spans:
      enabled: true

tempo:
  retention: 720h # 30d
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 300m
      memory: 200Mi
  
  global_overrides:
    max_traces_per_user: 20000

  storage:
    trace:
      backend: local
  
  persistence:
    enabled: true
    size: 10Gi