# Helm chart values
deploymentMode: SingleBinary

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

loki:
  auth_enabled: true
  isDefault: true
  url: http://{{(include "loki.serviceName" .)}}:{{ .Values.loki.service.port }}
  storage:
    type: 'filesystem'
  persistence:
    enabled: true
    storageClass: "longhorn" # Use "standard" or a class available in your cluster (e.g., "local-path" if using kind/minikube)
    accessModes:
      - ReadWriteOnce
    size: 4Gi # Adjust size based on your needs
  schemaConfig:
    configs:
      - from: "2022-01-11"
        index:
          period: 24h
          prefix: loki_ye
        object_store: filesystem
        schema: v12
        store: boltdb-shipper
minio:
  enabled: false

promtail:
  enabled: false

fluent-bit:
  enabled: false

grafana:
  enabled: false

prometheus:
  enabled: false

filebeat:
  enabled: false

logstash:
  enabled: false